{% extends 'base_template.html' %}
{% block page_body %}
<div id="auth-message" class="alert alert-success">
            <h4>✓ Код отправлен!</h4>
            <p>Код подтверждения отправлен на <strong>{{ user_email }}</strong></p>
            
            <form hx-post="/auth/check-verification-code" 
                  hx-target="#auth-message"
                  hx-swap="outerHTML"
                  class="mt-3">
                <div class="form-group">
                    <label>Введите код из письма:</label>
                    <input type="text" 
                           name="verification_code" 
                           class="form-control" 
                           required
                           pattern="[0-9]{6}"
                           title="6-значный код"
                           {% if verification_code %}value="{{ verification_code }}"{% endif %}
                        >
                    <input type="hidden" name="user_email" value="{{ user_email }}">
                    <input type="hidden" name="expire_time" value="{{ expire_time }}">
                </div>
                {% if error_code %}<p>{{ error_code }}</p>{% endif %}
                <button type="submit" class="btn btn-success mt-2">
                    Подтвердить
                </button>
                <div class="timer-container mt-3">
                    <p>Код действителен в течение:</p>
                    <div id="timer"
                        class="text-danger fw-bold fs-4">
                        05:00
                    </div>
                </div>

            </form>
            
            <button
                    hx-get="/auth?user_email={{ user_email }}" 
                    hx-target="#auth-message"
                    hx-swap="innerHTML"
                    class="btn btn-link mt-2">
                ← Отправить код повторно
            </button>
        </div>
        <script>
            function expireCodeCallback() {
                const timerElement = document.getElementById("timer");
                timerElement.innerHTML = "Время истекло"
            }
            // Запускаем таймер
            updateTimer("timer", {{ expire_time }}, expireCodeCallback);
            if (!window.timerInterval) {
                let timerInterval;
            }
            timerInterval = setInterval(updateTimer, 1000, "timer",{{ expire_time }}, expireCodeCallback);
            // Очистка при обновлении контента
            document.getElementById('auth-message').addEventListener('htmx:beforeSwap', function() {
                clearInterval(timerInterval);
            });
        </script>
{% endblock  %}